.agents
.docs

# env
.env
.env.local
.env.*.local

# deps
node_modules/

# build
dist/
.next/
out/

# prisma
apps/api/prisma/migrations/*.sql

# logs
*.log
npm-debug.log*
pnpm-debug.log*

# OS
.DS_Store
Thumbs.db

# IDE
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln